.button_comprar,
.button_agregar, .button_clear_carrito {
   color: white;
   padding: 10px 20px;
   border: none;
   border-radius: 5px;
   box-shadow: 0px 1px 1px 1px black;
   text-transform: uppercase;
   font-family: calibri;
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;

}

.button_comprar {
   background-color: #C9ACF2;
   color: var(--color-dark);
   font-weight: bold;
   width: 100%;
}

.button_agregar {
   background-color: #FFB8B8;
}

.button_clear_carrito {
   background-color: red;
}

.button_comprar:hover,
.button_agregar:hover,
.button_clear_carrito:hover {
   box-shadow: 0px 0px 0px 0px transparent;
   transform: translateY(1px);
}