.cart_box {
   position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   background-color: rgba(0, 0, 0, 0.8);
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 1000;
}

.cart_list {
   padding: 20px;
   overflow-y: auto;
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.cart {
   width: 700px;
   height: 600px;
   background-color: #fff;
   display: grid;
   grid-template-rows: auto 1fr auto;
   overflow: hidden;
}

.cart header {
   display: flex;
   justify-content: space-between;
   background-color: var(--color-secondary);
   padding: 20px;
}

.cart h3 {
   color: var(--color-dark);
}

.cart_item {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.cart_item button {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 30px;
   height: 30px;
}

.item_description {
   display: flex;
   align-items: center;
   gap: 20px;
}

.item_description div {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.cart_item img {
   width: 100px;
   height: 100px;
   object-fit: cover;
}

.item_action {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 20px;
}

.item_action span {
   font-size: 1rem;
   font-weight: bold;
}

.cart footer {
   padding: 20px;
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.cart footer section{
   display: flex;
   justify-content: space-between;
}

.cart footer div {
   display: grid;
   grid-template-columns: 1fr 3fr;
   gap: 20px;
}

.cart footer span {
   font-size: 30px;
}