
.footer {
    background-color: var(--bg-secondary);
    color: white;
    padding: 2rem 0;
    text-align: center;
    font-family: var(--font-secundary);
}

.footer_content {
    max-width: 960px;
    margin: 0 auto;
}

.footer_link {
    margin-top: 1rem;
}

.footer_link a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.footer_link a:hover {
    color: white;
    text-decoration: underline;
}

.footer_social {
    margin-top: 1rem;
}

.footer_social a {
    color: white;
    margin: 0 10px;
    font-size: 1.5rem;
    transition: color 0.3s;
}

.footer_social a:hover{
    color: #ff4081;
}