/* Escribir aqui los estilos globales de la app */

*, *::after, *::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: var(--font-primary);
    background-color: var(--bg-ligth);
    color: var(--color-dark);
}

button {
   background-color: transparent;
   border: none;
   cursor: pointer;
}
